img.centered{display:block;margin:0 auto 24px}

img.post-centro{
	display:block;margin:0 auto -10px;background-color:#f8f8f8;padding:3px;
border:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;
border-radius:3px
}
img.centered{display:block;margin:0 auto 24px}

img.post-centro{
	display:block;margin:0 auto -10px;background-color:#f8f8f8;padding:3px;
border:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;
border-radius:3px
}
/*
ESTLOS DE FUENTES*/
@font-face{
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.svg#webSymbolsRegular") format("svg"),
        url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot#iefix") format("enbedded-opentype"),
        url("fonts/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*FIN DE ESTILOS DE FUENTES*/

/*ESTILOS GENERALES*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background:url("../img/pattern.png");
}
.icon{
    font-family: "WebSymbolsRegular";
}
.clearfix{
    float: none;
    clear: both;
}

/*FIN ESTILOS GENERALES*/

/*  IMAGEN  */
.img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}